a {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

#menuRow {
    text-align: left;
<!--    left: 50px;
    padding_left: auto;  -->
    vertical-align: middle;
}

#menuRow div:not(:first-child) {
    margin-top: 5px;
}

#mainDiv {
    margin-bottom: 50px;
}

.menuLink {
    text-align: center;
}

.menuLink a {
    cursor: pointer;
}

.body {
    margin: 0;
}


.container  {
    display: flex;
    gap: 30px;
    height: 60px;
    align-items: center;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    background: white;
    border-botttom: 1px solid #ddd;
    z-index: 1000;
}


.main {
    margin-top: 70px;
    padding-top: 80px;
}

 
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 70%;
    left: 50%;
    margin-left:-50px;
    background-color: #F8F8FF;
    min-width: 200px;
    border:1px solid black;
    padding: 15px 5px;
    z-index:1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.pictureGridRow div {
    text-align: center;
    line-height: 100%;
}

.pictureFrame {
    position: relative;
    width: 350px;
    height: 430px;
    margin-right: 25px;
}

.img-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;

    text-align:center; /* Align center inline elements */
    font: 0/0 a;
}

.img-container:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

.img-container img {
    vertical-align: middle;
    display: inline-block;
}

#topScroll {

    width:50px;
    height:50px;
    position:fixed;
    left:100%;
    margin-left:-100px;
    top:100%;
    margin-top:-80px;
}

span.scrollIcon {
    padding-left:15px;
    font-size: 30px;
}

#topClick {
    cursor: pointer;
}

.footerTextOld {
    margin-top: 370px;
}


/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
    .menuLink {
        font-size: 1.8vw;
    }

    .rat_front {
        font-size: 1.8vw;
    }

    #rat_title {
        font-size: 1.9vw;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
    .menuLink {
        font-size: 1.2vw;
    }

    .rat_front {
        font-size: 1.2vw;
    }
    
    .footer_text {
        font-size: 1.3vw;
    }

    #rat_title {
        font-size: 1.9vw;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
    .menuLink {
        font-size: 0.9vw;
    }

    .rat_front {
        font-size: 0.9vw;
    }

    .footer_text {
        font-size: 1.2vw;
    }

    #rat_title {
        font-size: 1.9vw;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
    .menuLink {
        font-size: 0.9vw;
    }

    .rat_front {
        font-size: 0.9vw;
    }

    .footer_text {
        font-size: 1vw;
    }

    #rat_title {
        font-size: 1.6vw;
    }

}

@media only screen and (min-width: 1680px) {
    .menuLink {
        font-size: 0.75vw;
    }

    .rat_front {
        font-size: 0.75vw;
    }

    .footer_text {
        font-size: 1vw;
    }

    #rat_title {
        font-size: 1.5vw;
    }
}


